# dependencies
/node_modules
/.pnpm-store

# build
/dist

# environment
.env
.env.local

# runtime
/.astro
/package-lock.json
/pnpm-lock.yaml
/yarn.lock

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
